#buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
button{
    background-color: #3882F6;
    color: #f9faf8;
    font-size:18px;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 8px 32px;
    border: 1px solid black;
}

button:hover{background-color:green;}